* {
  font-family: 'Gill Sans';
}

a {
  cursor: pointer;
  color: white;
}

.hidden {
  display: none;
}


.scorecount {
  cursor: pointer;
  color: white;
  margin-left: -20px;
  background-color:white;
  align-items: center;
  border-bottom: dashed;
  border-color: blue;
  border-width: 5px;
  width: 80%;
  margin-left: 100px;

}

#time {
  margin-top: 0;
}

.countdowntimer{
  margin-left: 40px;
  padding-bottom:  50px;
  font-weight: bolder;
  border-bottom: blue;
  color: black;



}

.container {
  margin: 100px auto 0 auto;
  max-width: 800px;
  border: solid;
  padding-left: 10px;
  padding-right: 10px;
  align-items: ;
}

.start {
  text-align: center;
}

h1 {
  display: block;
  font-size: xx-large;
  font-weight: bold;
  text-align: center;
  padding-top: 10px;
  border: dotted;
  border-radius: 5%;
  border-width: 5px;
  padding-bottom: 10px;
  color: blue;
}

h1 {
  display: block;
 
 
}

p {
  font-size: medium;
  text-align: center;
  font-style:italic;
  font-weight: bolder;
  color: forestgreen;

}

button {
  display: center;
  margin: 30px;
  cursor: pointer;
  font-size: 100%;
  background-color: blue;
  border-radius: 5px;
  padding: 2px 10px;
  color: white;
  border: 0;
}

.buttonend {
  display: center;
  margin: 5px;
  cursor: pointer;
  font-size: 100%;
  background-color: blue;
  border-color: yellow;
  border-width: 2px;
  border-radius: 5px;
  padding: 2px 10px;
  color: white;
  border: 0;
}

#questions {
  display: none;
}

.hide {
  display: none;
}
